<nav>
    <a id="topNavA" href="/">
        <div>
            <img id="logo1"src="/images/logoMetro1.png" alt="LogoMetro" width="70">
            <img src="/images/logoMetro2.png" alt="LogoMetrobus" width="70">
            <h2 id="topName"> Sistema de Recuperación de Articulos Perdidos</h2>
        </div>
    </a>
    <img src="/images/logoCdMx.png" alt="Ciudad de Mexico" width="200">
    <ul>
        <a  class="navBut" href="/login" id="loginButt" class="userAdmin"><li>Entra a tu Portal</li></a>
        {{!-- <a href="/signup" id="registerButt" class="userAdmin"><li>Regístrate</li></a> --}}
    </ul>
</nav>


<section class="loginClass">
    <h2>Crea tu cuenta</h2>
    <form validated action="/signup" method="post" id="myform">
        <div>
            <label for="username">Ingresa tu nombre</label>
            <input value="{{username}}" required placeholder="Tu nombre de usuario" name="username" type="text">
        </div>
        <div>
            <label for="email">Ingresa tu corre electrónico</label>
            <input value="{{email}}" required placeholder="Tu correo de usuario" name="email" type="email">
        </div>
        <div>
            <label for="password">Ingresa tu contraseña</label>
        <input value="{{password}}" required placeholder="Tu password de usuario" name="password" type="password">
        </div>
        <div>
            <label for="password2">Ingresa nuevamente tu contraseña</label>
            <input value="{{password2}}" required placeholder="Nuevamente contraseña" name="password2" type="password">
        </div>
         <input type="submit">
    </form>
</section>

<p id="err message" style="color:red; text-align: center; font-size: 18px">
        {{#if err}}{{err}}{{/if}}
</p>