{{!-- <h1>{{title}}</h1> --}}
{{!-- <p>Welcome to {{title}}</p> --}}

<nav>
    <a id="topNavA" href="/">
        <div>
            <img id="logo1"src="/images/logoMetro1.png" alt="LogoMetro" width="70">
            <img src="/images/logoMetro2.png" alt="LogoMetrobus" width="70">
            <h2 id="topName"> Sistema de Recuperación de Articulos Perdidos</h2>
        </div>
    </a>
    <img src="/images/logoCdMx.png" alt="Ciudad de Mexico" width="200">
    <ul>
        <a class="navBut" href="/login" id="loginButt" class="userAdmin"><li>Entra a tu Portal</li></a>
        <a class="navBut" href="/signup" id="registerButt" class="userAdmin"><li>Regístrate</li></a>
    </ul>
</nav>

<div class="titleDiv">
    <h2>Bienvenido al sistema de Recuperación de Objetos Perdidos del Metro 
        y Metrobus de la Ciudad de México.
    </h2>
    <h3>
        Si perdiste algún objeto o encontraste algún objeto perdido puedes
        buscarlo en nuestra base de datos o reportalo creando una cuenta.
    </h3> 
</div>

<section>
    {{#each items as |item|}}
        <div class="itemDiv">
            <img src="{{item.photoURL}}" alt="imgObjeto" width="100">
            {{!-- Table --}}
            <div class="predetails">
                <div class="divTable">
                    <div class="divRow">
                        <div class="divCell boldC">Reportado</div>
                        <div class="divCell">{{item.created_at}}</div>
                    </div>
                    <div class="divRow">
                        <div class="divCell boldC">Transporte</div>
                        <div class="divCell">{{item.trasporte}}</div>
                    </div>
                    <div class="divRow">
                        <div class="divCell boldC">Línea:</div>
                        <div class="divCell">{{item.linea}}</div>
                    </div>
                    <div class="divRow">
                        <div class="divCell boldC">Estación</div>
                        <div class="divCell">{{item.estacion}}</div>
                    </div>
                    <div class="divRow">
                        <div class="divCell boldC">Posición actual:</div>
                        <div class="divCell">{{item.currlocation}}</div>
                    </div>
                </div>
            </div>
            <div class="mapItem">
                {{item.currlocation}}
            </div>
        </div>
    {{/each}}
</section>