<nav>
    <a id="topNavA" href="/">
        <div>
            <img id="logo1"src="/images/logoMetro1.png" alt="LogoMetro" width="70">
            <img src="/images/logoMetro2.png" alt="LogoMetrobus" width="70">
            <h2 id="topName"> Sistema de Recuperación de Articulos Perdidos</h2>
        </div>
    </a>
    <img src="/images/logoCdMx.png" alt="Ciudad de Mexico" width="200">
    <ul>
        <a  class="navBut" href="/profile" id="registerButt" class="userAdmin"><li>Perfil</li></a>
        <a  class="navBut" href="/logout" id="registerButt" class="userAdmin"><li>Salir</li></a>
    </ul>
</nav>

<a href="/items/newItem" id="addNew">
    <h2>Da click aquí si deseas reportar un objeto encontrado</h2>
</a>

<section>
    {{#each items as |item|}}
        <div class="itemDiv">
            <img src="{{item.photoURL}}" alt="imgObjeto" width="100">
            {{!-- Table --}}
            <div class="predetails">
                <div class="divTable">
                    <div class="divRow">
                        <div class="divCell boldC">Reportado</div>
                        <div class="divCell">{{item.created_at}}</div>
                    </div>
                    <div class="divRow">
                        <div class="divCell boldC">Transporte</div>
                        <div class="divCell">{{item.trasporte}}</div>
                    </div>
                    <div class="divRow">
                        <div class="divCell boldC">Línea:</div>
                        <div class="divCell">{{item.linea}}</div>
                    </div>
                    <div class="divRow">
                        <div class="divCell boldC">Estación</div>
                        <div class="divCell">{{item.estacion}}</div>
                    </div>
                    <div class="divRow">
                        <div class="divCell boldC">Posición actual:</div>
                        <div class="divCell">{{item.currlocation}}</div>
                    </div>
                </div>
            </div>
            <div class="mapItem">
               {{!-- <a href="https://maps.googleapis.com/maps/api/staticmap?center=metro+{{item.estacion}},Mexico&size=1000x900&zoom=16&key=AIzaSyALDtubZlaBWtfejnW6E0izt51Mf8i3Sj8"> <img src="https://maps.googleapis.com/maps/api/staticmap?center=metro+{{item.estacion}},Mexico&size=250x250&zoom=16&key={{process.env.keymaps}}" alt="no existe"> </a> --}}
               <a href="https://maps.googleapis.com/maps/api/staticmap?center=metro+{{item.estacion}},Mexico&size=1000x900&zoom=16&key=AIzaSyALDtubZlaBWtfejnW6E0izt51Mf8i3Sj8"> <img src="https://maps.googleapis.com/maps/api/staticmap?center=metro+{{item.estacion}},Mexico&size=250x250&zoom=16&key=AIzaSyALDtubZlaBWtfejnW6E0izt51Mf8i3Sj8" alt="no existe"> </a>
            </div>

            <button onclick="test(event)" id="{{item.id}}"  type="button" class="btn btn-primary" data-toggle="modal" data-target="#a">
                ¿Es tuyo?
            </button>

            <!-- Modal -->
            <div class="modal fade" id="a" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Como recuperarlo </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div  class="modal-body">
                    <img src="/images/atencionciudadana.png" width="200">
                    <p>Responsable de la Unidad de Orientación e Información: <br>
                        Ana María Muñiz Flores 
                    Teléfonos: 5709-1133 ext. 5051 y 5009 o 5627.4950 y 5627.4741 <br>
                    Lugar de atención presencial: Av. Balderas No. 58 Primer Piso, Colonia Centro, Delegación Cuauhtémoc C.P. 06010 
                    <br>
                    Horario: Lunes a viernes de 9:00 a 15:00 horas. 
                    Correo: unidad_de_orientacion@metro.cdmx.gob.mx
                    </p>
                    <p>
                    <br>
                    El código de recuperación es: <b><span id="recoveryCode">holder</span></b>
                    <br>
                    No olvides llevarlo para recuperar tu pertenencia. 
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
                </div>
            </div>
            </div>
            <!-- /Modal -->

        </div>
    {{/each}}
</section>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALDtubZlaBWtfejnW6E0izt51Mf8i3Sj8"></script>

<script>
    function test(e){
        console.log(e.target)
        document.getElementById("recoveryCode").innerHTML = e.target.id;
    }
</script>